<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlanPal" >
        <activity
            android:name=".AddSubject"
            android:exported="false" />
        <activity
            android:name=".RemoveSubjectClassroom"
            android:exported="false" />
        <activity
            android:name=".AddSubjectClassroom"
            android:exported="false" />
        <activity
            android:name=".SubjectClassroom"
            android:exported="false" />
        <activity
            android:name=".RemoveTeacherSubject"
            android:exported="false" />
        <activity
            android:name=".AddTeacherSubject"
            android:exported="false" />
        <activity
            android:name=".TeacherSubject"
            android:exported="false" />
        <activity
            android:name=".RemoveSubject"
            android:exported="false" />
        <activity
            android:name=".Subject"
            android:exported="false" />
        <activity
            android:name=".RemoveTeacher"
            android:exported="false" />
        <activity
            android:name=".Teacher"
            android:exported="false" />
        <activity
            android:name=".RemoveClassroom"
            android:exported="false" />
        <activity
            android:name=".Classroom"
            android:exported="false" />
        <activity
            android:name=".ContactUs"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".AddClassroom"
            android:exported="false" />
        <activity
            android:name=".GenerateTimetable"
            android:exported="false"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".AddTeacher"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.planpal.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>